<div class="form-froup row">
    

     <label class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="ProductId"
        placeholder="Enter ID"> 
    </div>
    <label class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Category"
        placeholder="Enter Category">
    </div>
    <label class="col-sm-2 col-form-label">Product</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Name"
        placeholder="Enter Productname">
    </div>
    <label class="col-sm-2 col-form-label">Price(INR)</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Price"
        placeholder="Enter Price">
    </div>
</div>

<button (click)="addproduct()" *ngIf="prod.ProductId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateproduct()" *ngIf="prod.ProductId!=0" class="btn btn-primary">
    Update
</button>